.App {
    margin: 0;
    width: 100%;
    height: 100%;
}

div.dialogWrapper {
    display: inline;
}

.listElementText {
    margin-right: 50px;
}

div[class*="MuiDialog-paper-"] {
    width: 100% !important;
}

div.main-menu > div {
    width: 250px !important;
}

main {
    margin-left: 250px !important;
}