:root {
    --primary: #FAFAFA;
    --secondary: #424242;
}

.Room {
    position: relative;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 50px;

    text-align: center;

    background-color: #00bcd4;
    color: var(--primary) !important;
}

.Room h1 {
    padding-top: 30px;
    display: inline;
}

.Room .buttons svg {
    color: var(--primary) !important;
}

.buttons {
    display: inline !important;
}

button.cancel {
    color: #9E9E9E !important;
}
